<!DOCTYPE html>
<html lang="en-US">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body>

<div ng-app="myApp" ng-controller="myCtrl">
    First Name: <input type="text" ng-model="firstName"><br>
    Last Name: <input type="text" ng-model="lastName"><br>
    <br>
    Full Name: {{firstName + " " + lastName}}
    
    <div>
        <h1>Find All Products</h1>
        <button ng-click="findAllProducts()">All Products</button>
    
        <div ng-repeat="product in products">
            <hr>
            <div>{{product.name}}</div>
            <div>{{product.decription}}</div>
            <hr>
        </div>
    </div>
    
    
    <div>
        
        
    </div>
    
    
    

</div>
    <script src="js/application.js"></script>    
</body>
</html>
