<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Input fields</title>
    <sript src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></sript> 
</head> 
<body>
    <form ng-app="app" ng-controller="UserController" name="form1">
        
        <div>
        Username : <input ng-model="userName"/>
        </div>
        <br/>
        
        <div>
        Last Name : <input ng-model="lastName"/>
        </div>
        <br/>
        
        <div>
        Password : <input type="password" ng-model="password"/>
        </div>
    </form>

    <script src="script.js"></script>
</body>
</html>
