<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Input fields</title>
    <sript src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></sript> 
</head> 
<body ng-controller="appCtrl">
    <form>
        <div>
        Username : <input type="text" name="firstName" ng-model="user.firstName"/>
        </div>
        <br/>
        <div>
        Last Name : <input type="text" name="lastName" ng-model="user.lastName"/>
        </div>
        <br/>
        <div>
        Password : <input type="password" name="password" ng-model="user.password"/>
        </div>
        <div>
            <button ng-click="addUser()">Add User</button>
        </div>
    </form>

    <script src="script.js"></script>
</body>
</html>
